<div class="card-action right-align">
  <a href="/services/edit/{{id}}" class="btn-flat tooltipped" data-tooltip="Редактировать">
    <i class="material-icons">edit</i>
  </a>

  <a href="/services/toggle/{{id}}" class="btn-flat tooltipped" data-tooltip="Активировать/Деактивировать">
    <i class="material-icons">visibility</i>
  </a>

  <form action="/services/delete/{{id}}" method="POST" style="display:inline">
    <button type="submit" class="btn-flat red-text tooltipped" data-tooltip="Удалить"
            onclick="return confirm('Удалить услугу?');">
      <i class="material-icons">delete</i>
    </button>
  </form>
</div>
