<li><a href="/dashboard"     class="{{#if (eq ../title 'Дашборд')}}active{{/if}}">
      <i class="material-icons">dashboard</i> Дашборд</a></li>
<li><a href="/services"      class="{{#if (eq ../title 'Услуги')}}active{{/if}}">
      <i class="material-icons">content_cut</i> Услуги</a></li>
<li><a href="/masters"       class="{{#if (eq ../title 'Мастера')}}active{{/if}}">
      <i class="material-icons">people</i> Мастера</a></li>
<li><a href="/requests"      class="{{#if (eq ../title 'Заявки')}}active{{/if}}">
      <i class="material-icons">assignment</i> Заявки</a></li>
<li><div class="divider"></div></li>
<li><a href="/logout"><i class="material-icons">exit_to_app</i> Выйти</a></li>
