<ul class="collection with-header sidebar-menu">
  <li class="collection-header">
    <h5 class="center-align">Меню</h5>
  </li>
  <li class="collection-item">
    <a href="/dashboard" class="black-text">
      <i class="material-icons left">dashboard</i> Дашборд
    </a>
  </li>
  <li class="collection-item">
    <a href="/services" class="black-text">
      <i class="material-icons left">build</i> Услуги
    </a>
  </li>
  <li class="collection-item">
    <a href="/masters" class="black-text">
      <i class="material-icons left">people</i> Мастера
    </a>
  </li>
  <li class="collection-item">
    <a href="/requests" class="black-text">
      <i class="material-icons left">assignment</i> Заявки
    </a>
  </li>
</ul>
