<ul class="collection with-header sidebar-menu">
  <li class="collection-header">
    <h5 class="center-align">Меню</h5>
  </li>
  <li class="collection-item">
    <a href="/schedule" class="black-text">
      <i class="material-icons left">event</i> Окна
    </a>
  </li>
  <li class="collection-item">
    <a href="/my-requests" class="black-text">
      <i class="material-icons left">assignment_ind</i> Заявки
    </a>
  </li>
</ul>
