<li><a href="/schedule"      class="{{#if (eq ../title 'Окна')}}active{{/if}}">
      <i class="material-icons">event_available</i> Окна</a></li>
<li><a href="/my-requests"   class="{{#if (eq ../title 'Мои заявки')}}active{{/if}}">
      <i class="material-icons">assignment</i> Заявки</a></li>
<li><div class="divider"></div></li>
<li><a href="/logout"><i class="material-icons">exit_to_app</i> Выйти</a></li>
