<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Иконки Material -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Стили -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="layout">
    <!-- Сайдбар -->
    {{!-- <aside class="sidebar grey lighten-4">
      {{{sidebar}}}
    </aside> --}}

    <!-- Контент -->
    <main class="content">
      {{{body}}}
    </main>
  </div>

  <!-- Materialize JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- JS -->
  <script src="/js/main.js"></script>
</body>
</html>
