<div class="client-welcome center-align">
  <h3 class="animated fadeInDown">Добро пожаловать в наш салон красоты!</h3>
  <p class="flow-text animated fadeInUp">Мы рады помочь вам выглядеть великолепно — выберите услугу, и мы подберем мастера и удобное время.</p>

  <a href="/client/select-service" class="btn-large waves-effect waves-light pink lighten-1 animated pulse" style="margin-top: 30px;">
    Начать
    <i class="material-icons right">arrow_forward</i>
  </a>
</div>
