<h4 class="center-align">Добро пожаловать в панель управления</h4>

<div class="row" style="margin-top: 40px;">
  <div class="col s12 m4">
    <div class="card hoverable">
      <div class="card-content center-align">
        <i class="material-icons large">build</i>
        <h5>Услуги</h5>
        <p>Управляйте всеми предоставляемыми услугами.</p>
      </div>
      <div class="card-action center-align">
        <a href="/services" class="btn waves-effect waves-light">Перейти</a>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card hoverable">
      <div class="card-content center-align">
        <i class="material-icons large">people</i>
        <h5>Мастера</h5>
        <p>Добавляйте, редактируйте или удаляйте мастеров.</p>
      </div>
      <div class="card-action center-align">
        <a href="/masters" class="btn waves-effect waves-light">Перейти</a>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card hoverable">
      <div class="card-content center-align">
        <i class="material-icons large">assignment</i>
        <h5>Заявки</h5>
        <p>Просматривайте и управляйте заявками клиентов.</p>
      </div>
      <div class="card-action center-align">
        <a href="/requests" class="btn waves-effect waves-light">Перейти</a>
      </div>
    </div>
  </div>
</div>
