<h4 class="center-align">Вход в систему</h4>

<div class="row">
  <form action="/login" method="POST" class="col s12 m6 offset-m3 card-panel">
    {{#if error}}
      <p class="red-text center-align">{{error}}</p>
    {{/if}}

    <div class="input-field">
      <input id="login" name="login" type="text" required>
      <label for="login">Логин</label>
    </div>

    <div class="input-field">
      <input id="password" name="password" type="password" required>
      <label for="password">Пароль</label>
    </div>

    <div class="input-field center-align">
      <button type="submit" class="btn green">Войти</button>
    </div>
  </form>
</div>
